
<header>
    <nav>
        <div class="container d-flex justify-content-center align-items-center gap-3" style="color: white;">

            <div><h4>Starlight </h4><span><b> photo artist</b></span></div>

            <div class="d-flex align-items-center gap-3">
                
                 <div>
                    <a style="color: white; text-decoration:none;" href="@Url.Action("Index","Home")">Home</a>
                 </div>
                <div>
                    <a style="color: white; text-decoration:none;" href="#">Features</a>
                 </div>
                <div>
                    <a style="color: white; text-decoration:none;" href="#">Pricing</a>
                 </div>
                 <partial name="_LoginPartial" />

                
            </div>

        </div>
    </nav>
</header>
