/*body{
    background-color: black;
    color: white;
}*/

.card-container{
    border: 1px solid white;

    min-height: 500px;
}

.card-foto{
    padding: 15px;

    display: flex;
    flex-direction:column;
    align-items: center;
}

.titolo-foto{
    text-align: center;
}

.container-img-foto {
    width: 300px;
    margin: auto;
}

.card-img-foto{
    width: 100%;
}