@{
    Layout = "_Layout";
}

@model Foto

<div class="container">
    <div class="card-pizza" style="width: 18rem;">

        <div class="nome-pizza">
            <h4><b>@Model.Titolo</b></h4>
        </div>

        <div class="container-img-pizza">
            <img src="@Model.FotoSrc" class="card-img" alt="...">
        </div>

        <div class="descrizione-pizza">
            <p><b>@Model.Descrizione</b></p>
        </div>


    </div>

    <button type="button" class="btn btn-primary">
        <a style="color:white"; href="@Url.Action("Index","Foto")">Torna alle foto</a>
    </button>
</div>