@{
    Layout = "_Layout";
}

@model FotoFormModel

<div class="container p-3">
    <form asp-controller="Foto" asp-action="Update" enctype="multipart/form-data" method="post">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <label asp-for="Foto.Titolo" class="label">Titolo</label>
            <input type="text" class="form-control" asp-for="Foto.Titolo"> 
            <span asp-validation-for="Foto.Titolo" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Foto.Descrizione" class="label">Descrizione</label>
            <input type="text" class="form-control" asp-for="Foto.Descrizione">
            <span asp-validation-for="Foto.Descrizione" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Foto.FotoUrl" class="label">Foto</label>
            <input type="text" class="form-control" asp-for="Foto.FotoUrl">
            <span asp-validation-for="Foto.FotoUrl" class="text-danger"></span>
        </div>

        <div class="mb-3">
            
             <label asp-for="FotoFormFile">Image file:</label>
             <input type="file" asp-for="FotoFormFile" />
             <span asp-validation-for="FotoFormFile" class="text-error"></span>
            
        </div>

        <div class="mb-3">
            <span>
                <label asp-for="Foto.Visibilità">Visibilità</label>
                <span class="ps-2">
                    <input type="checkbox" asp-for="Foto.Visibilità" />
                </span>
            </span>
        </div>

        <div class="mb-3">
            <strong>Categorie:</strong>
            <select asp-for="CategorieSelezionateId"
                    multiple="multiple"
                    size="10"
                    class="label"
                    asp-items="@Model.Categorie">
            </select>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-light">Invio</button>
        </div>

    </form>

    <button type="button" class="btn btn-primary">
        <a style="color:white" ; href="@Url.Action("Index","Foto")">Torna alle foto</a>
    </button>
</div>
